doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    footer
      | Sample footer content

    script(src="/javascripts/lib/require.js", data-main="/javascripts/app/config")