doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    div#container
    
    footer
      | Sample footer content

    script(src="/javascripts/lib/require.js", data-main="/javascripts/app/config")

    // Templates
    script(id="main-layout", type="text/template")
      section
        nav(id="menu")
        article(id="content")
    script(id="item-view", type="text/template")
      | Who likes <%= name %>?