doctype 5
html
  head
    title MainApp Proof of Concept
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
  body
    block content
    div#container
    
    footer
      | Sample footer content

    script(src="/scripts/lib/require.js", data-main="/scripts/js/config")

    // Templates
    script(id="main-layout", type="text/template")
      section
        nav(id="menu")
        article(id="content")
    script(id="item-view", type="text/template")
      | Who likes <%= name %>?