doctype 5
html
  head
    title MainApp Proof of Concept
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
    link(rel='stylesheet', href='/styles/base.css')
  body
    div.container
      header.row
        h1 HuffPost Live
        #engage
          .login
            a(class="login") Log In
            a(class="main-site", href="www.huffingtonpost.com") HuffingtonPost.com
          .search
            input(class="search", type="text", placeholder="Search")
      #main.row
        nav#segments
        section#content
          #display
          #comments

      footer.row

    script(src="/scripts/lib/require.js", data-main="/scripts/js/config")

    // Templates
    script(id="nav-layout", type="text/template")
      .earlier
      .segment
        img(src="http://placehold.it/150x60", alt="")
        div.meta
          .state Live
          .title Lorem ipsum dolor sit amet
      span.left
      ul.segments
      span.right
    script(id="segment-layout", type="text/template")
    script(id="main-layout", type="text/template")
      section
        nav(id="menu")
        article(id="content")
    script(id="item-view", type="text/template")
      | Who likes <%= name %>?