doctype 5
html
  head
    title MainApp Proof of Concept
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
    link(rel='stylesheet', href='/styles/base.css')
  body
    div.container
      header.row
        .span12
          h1 HuffPost Live
          #engage
            .login
              a(class="login") Log In
              a(class="main-site", href="www.huffingtonpost.com") HuffingtonPost.com
            .search
              input(class="search", type="text", placeholder="Search")
              
      #main.row
        nav#segments.span12
        section#content.span12
    
      footer.row

    script(src="/scripts/lib/require.js", data-main="/scripts/js/config")

    // Templates
    script(id="nav-layout", type="text/template")
      .earlier
      ul.nav-spotlight
      .nav-carousel
    script(id="segment-layout", type="text/template")
      img(src!="<%= image %>", alt="")
      div.meta
        .state 
          | <%= state %>
        .title 
          | <%= title %>
    script(id="carousel-layout", type="text/template")
      span.prev &lt;
      .display
        ul.segments
      span.next &gt;
    script(id="main-layout", type="text/template")
      #display.span6
        .video
          img(src="http://placehold.it/400x300")
        .meta
          h2 It was the best of times
        .resources
          ul
            li Here a link to a related story
            li Look at that another one
            li One more
            li Okay, I lied.  One last story.
            li :)
      #comments.span6
        .meta
        .post-comment
        .comments