doctype 5
html
  head
    title MainApp Proof of Concept
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
    link(rel='stylesheet', href='/styles/base.css')
  body
    div.container
      header.row
        h1 HuffPost Live
        #engage
          .login
            a(class="login") Log In
            a(class="main-site", href="www.huffingtonpost.com") HuffingtonPost.com
          .search
            input(class="search", type="text", placeholder="Search")
      #main.row
        nav#segments
        section#content
          #display
          #comments

      footer.row

    script(src="/scripts/lib/require.js", data-main="/scripts/js/config")

    // Templates
    script(id="nav-layout", type="text/template")
      .earlier
      .nav-spotlight
      .nav-carousel
    script(id="segment-layout", type="text/template")
      img(src="http://placehold.it/150x60", alt="")
      div.meta
        .state 
          | <%= state %>
        .title 
          | <%= title %>
    script(id="carousel-layout", type="text/template")
      span.left
      .display
        ul.segments
      span.right