doctype 5
html
  head
    title MainApp Proof of Concept
    link(rel='stylesheet', href='/styles/bootstrap.css')
    link(rel='stylesheet', href='/styles/bootstrap-responsive.css')
    link(rel='stylesheet', href='/styles/base.css')
  body
    div.container
      header.row
        .span12
          h1 HuffPost Live
          #engage
            .login
              a(class="login") Log In
              a(class="main-site", href="www.huffingtonpost.com") HuffingtonPost.com
            .search
              input(class="search", type="text", placeholder="Search")

      #main.row
        nav#segments.span12
        section#content.span12
    
      footer.row

    script(src="/scripts/lib/require.js", data-main="/scripts/js/config")

    // Templates
    script(id="comments-layout", type="text/template")
      .meta
        h3 
          i.icon-film
          | Be an on-air guest
      .post-comment
        .comment-box
          img.avatar(src="http://placehold.it/50x50")
          input(type="text", placeholder="Post a text or video comment")
      .comments
        ul
          li.comment
            | I like this
          li.comment
            | Me not so much
          li.comment
            | Flame war!
    script(id="nav-layout", type="text/template")
      .earlier
      ul.nav-spotlight
      .nav-carousel
    script(id="segment-layout", type="text/template")
      img(src!="<%= image %>", alt="")
      div.meta
        .state 
          | <%= state %>
        .title 
          | <%= title %>
    script(id="carousel-layout", type="text/template")
      span.prev &lt;
      .display
        ul.segments
      span.next &gt;
    script(id="display-layout", type="text/template")
      .video
        img(src="http://placehold.it/400x300")
      .meta
        h2 
          | <%= title %>
        p
          | <%= overview %>
      .resources
        h3 Segment Information
        ul
          li 
            i.icon-calendar 
            | Here a link to a related story
          li 
            i.icon-time
            | Look at that another one
          li 
            i.icon-plus
            | One more
          li 
            i.icon-book
            | Okay, I lied.  One last story.
          li 
            i.icon-envelope
            | :)
    script(id="main-layout", type="text/template")
      #display.span6
      #comments.span6