/* Generic Styles */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Header Styles */

header {
  overflow: hidden;
}

header h1 {
  float: left;
}

header #engage {
  float: right;
}

header #engage a {
  float: right;
  display: block;
  padding-left: 25px;
  margin-top: 5px;
}

header #engage .search {
  margin-top: 10px;
}

/* Nav Styles */

nav {
  height: 64px;
}

nav .segment-navigation {
  height: 100%;
}

nav .segment-navigation .segment {
  background-color: #aaa;
  float: left;
  width: 346px;
  padding: 2px;
}

nav .segment-navigation .segment img {
  float: left;
  display: block;
  width: 150px;
  height: 60px;
}

nav .segment-navigation .segment .meta {
  width: 150px;
  padding-left: 160px
}

nav .segment-navigation .earlier {
  background-color: #666;
  float: left;
  width: 20px;
  height: 100%;
  cursor: pointer;
}

nav .segment-navigation .nav-spotlight {
  float: left;
  width: 350px;
  height: 100%;
  overflow: hidden;
}

nav .segment-navigation .nav-carousel {
  float: left;
  width: 800px;
  height: 100%;
  overflow: hidden;
}

nav .segment-navigation .nav-carousel .carousel {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 0;
}

nav .segment-navigation .nav-carousel .carousel > span {
  background-color: #666;
  display: block;
  float: left;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  padding: 32px 16px;
  line-height: 0px;
}

nav .segment-navigation .nav-carousel .carousel .display {
  float: left;
  width: 700px;
  overflow: hidden;
  position: relative;
}

nav .segment-navigation .nav-carousel .carousel .display .segments {
  float: left;
  position: relative;
  left: 0;
}

/* Main Styles */

#content {
  padding-top: 10px;
}

#content #display .video {
  height: 427px;
}

#content #display .video img {
  width: 100%;
}

#content .resources h3 {
  font-size: 1.8em;
}

#content .resources li {
  border-bottom: 1px solid #999;
  padding: 5px 0;
}

#content .resources li:first-child {
  border-top: 1px solid #999;
}

#content .resources li i {
  padding-right: 5px;
}